.like {
  font-size: 8px;
}

.editor {
  padding: 20px
}

.prm-button {
  position: relative;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
  font-size: 0.75rem;
  border: none;
  font-weight: bold;
  padding: 0.75rem 2rem;
  min-width: 100px;
  border-radius: 1.5rem;
  color: white;
  background-color: black;
  background-size: 200% 100%;
  background-position: left;
  text-align: center;
  transition: all 0.3s ease;
}